{% block body %}
<div>
    <h1>
        Create Category
    </h1>

    {{ form_start(categoryForm) }}

        {{ form_widget(categoryForm) }}
        <button type="submit">
            Submit
        </button>

    {{ form_end(categoryForm) }}
</div>

<div>
    <h1>
        Create Product
    </h1>

    {{ form_start(productForm) }}

        {{ form_widget(productForm) }}
        <button type="submit">
            Submit
        </button>

    {{ form_end(productForm) }}
</div>
{% endblock %}