{% extends "Admin/baseDashboard.html.twig" %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<main class="admin-dashboard">
	<h1>Admin Side</h1>
	<a href="{{ path('create') }}">Create</a>

	<section class="admin-dashboard__categories">
		<!-- List of Categories -->
		<h2>Categories:</h2>
		<div
		class="categories__container">
			{% for category in categories %}
			<a href="">
				<figure>
					<img src="{{ asset('asset/media/' ~ category.thumbnail) }}" alt="{{ category.name }} Thumbnail" style="width: 200px">
					<figcaption>
					<h3>{{ category.name }}</h3>
						<a href="{{ path('edit', {'id': category.id}) }}">Edit</a>
						<a href="{{ path('delete', {'id': category.id}) }}">Delete</a>
					</figcaption>
				</figure>
			</a>
			{% endfor %}
		</div>
	</section>
	
	<section class="admin-dashboard__products">
		<!-- List of Products -->
		<h2>Products:</h2>
		<div class="products__container">
			{% for product in products %}
			<a href="">
				<figure>
					<img src="{{ asset('asset/media/' ~ product.thumbnail) }}" alt="{{ product.name }} Thumbnail" style="width: 200px">
					<figcaption>
						<h3>{{ product.name }}</h3>
						<a href="{{ path('edit', {'id': product.id}) }}">Edit</a>
						<a href="{{ path('delete', {'id': product.id}) }}">Delete</a>
					</figcaption>
				</figure>
			</a>
			{% endfor %}
		</div>
	</section>
</main>

{% endblock %}

