<header class="header">
    <figure class="header__figure-logo">
    <a href="{{ path('app_homepage') }}">
        <img src="{{ asset('asset/media/logo/logo-full-light.svg') }}" alt="" class="header__figure-logo-img">
    </a>
    </figure>

    <nav class="header__nav-menu">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="{{ path('app_homepage') }}" class="header__nav-link"> Home </a>
            </li>
            <li class="header__nav-item">
                <a href="" class="header__nav-link"> Catalogue </a>
            </li>
            <li class="header__nav-item">
                <a href="" class="header__nav-link"> About Us </a>
            </li>
            <li class="header__nav-item">
                <a href="" class="header__nav-link"> Contact Us </a>
            </li>
        </ul>
    </nav>

    <figure class="header__icon-menu">
        <a href="{{ path('app_login') }}" class="header__icon-link">
            <img src="{{ asset('asset/media/icons/user-icon.svg') }}" alt="" class="header__icon-img">
        </a>
        <a href="" class="header__icon-link">
            <img src="{{ asset('asset/media/icons/cart-icon.svg') }}" alt="" class="header__icon-img">
        </a>
        <a href="" class="header__icon-link">
            <img src="{{ asset('asset/media/icons/burger-menu.svg') }}" alt="" class="header__icon-img">
        </a>
    </figure>
</header>
