<header class="dashboard-header">
	<div class="logo-header">
		<a href="{{ path('homepage') }}">
			<img src="{{ asset('/asset/media/logo/logo-full-light.svg') }}" alt="Logo">
		</a>
	</div>
    
    <div class="dashboard-elements">
        <div class="element">
            <a href="">
                    <figure>
                        <img src="{{ asset('/asset/media/icons/dashboard.svg') }}" alt="" style="width:25px">
                        <figcaption>
                            <p>Categories</p>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="element">
            <a href="">
                    <figure>
                        <img src="{{ asset('/asset/media/icons/dashboard.svg') }}" alt="" style="width:25px">
                        <figcaption>
                            <p>Products</p>
                        </figcaption>
                    </figure>
                </a>
        </div>
        <div class="element">
            <a href="">
                    <figure>
                        <img src="{{ asset('/asset/media/icons/dashboard.svg') }}" alt="" style="width:25px">
                        <figcaption>
                            <p>Users</p>
                        </figcaption>
                    </figure>
                </a>
        </div>
    </div>

	<div class="user-menu">
		<figure class="user-info" id="user-info">
			<a href="">
				<img src="{{ asset('/asset/media/RaccoonCoders.png') }}" alt="Image de profil" class="profilepic" style="width: 50px">
			</a>
			<figcaption class="user-data">
				<p>User Email</p>
			</figcaption>
		</figure>

		<a href="#" id="submenu">
			<img src="{{ asset('/asset/media/icons/arrow-down-default.svg') }}" alt="Flèche menu" class="arrow-dropdown">
		</a>

		{# <div class="submenu-dashboard">
						<ul>
							<li><a href=""><img class="submenu-icon"src="{{ asset('asset/media/icons/dashboard.svg') }}" alt="Icône Dashboard">Dashboard</a></li>
							<li><a href=""><img class="submenu-icon"src="{{ asset('asset/media/icons/logout.svg') }}" alt="Icône se déconnecter">Se déconnecter</a></li>
						</ul>
					</div> #}
	</div>
</header>
